<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestCase" parallel="tests">
<groups>
<run>
<include name="smoke"></include>
</run>
</groups>
	<test name="Leads">
		<classes>
		<class name="testCase.CreateLead" />
		<class name="testCase.MergeLead" />
		<class name="testCase.DuplicateLead" />
		</classes>
	</test> <!-- Leads -->
</suite> <!-- TestCase -->